Makefile
documentation/*


scripts/Oxydebt/working.R
scripts/Oxydebt/*_convert_plots_to_png.R

.Rproj.user
.Rhistory
.DS_Store
*.Rproj

# file types to ignore
*.pdf
*.asc

# do not track plots file for now
scripts/OxygenDebt/output_3_plots.R
